head
  - const production = self.htmlWebpackPlugin.options.production
  - const data = self.htmlWebpackPlugin.options.data
  - const name = `${data.personal.name} ${data.personal.surname}`
  - const about = `${name} Front end developer and 3D graphics enthusiast from ${data.personal.location}.`
  meta( charset="UTF-8" )
  meta( name="viewport", content="width=device-width, initial-scale=1.0" )

  title edloidas

  link( rel="shortcut icon", href="src/img/favicon.png" type="image/png" )

  link( rel="profile", href="https://plus.google.com/100081532988366318441" )
  link( rel="publisher", href="https://plus.google.com/100081532988366318441" )

  //- Common Open Graph and Twitter properties
  - const attr = (name, value) => { const a = {}; a[name] = value; return a; }
  mixin preview( graph, type, meta, content )
    meta( content=content )&attributes(attr(meta, graph + ':' + type))
    meta( content=name )&attributes(attr(meta, graph + ':title'))
    meta( content=data.personal.avatar )&attributes(attr(meta, graph + ':image'))
    meta( content=about )&attributes(attr(meta, graph + ':description'))

  +preview( "og", "type", "property", "profile" )
  meta( property="og:url", content="https://edloidas.com" )
  meta( property="profile:first_name", content="Mikita" )
  meta( property="profile:last_name", content="Taukachou" )
  meta( property="profile:username", content="edloidas" )
  meta( property="profile:gender", content="male" )

  +preview( "twitter", "card", "name", "summary" )
  meta( name="twitter:site", content="@edloidas" )

  - const cssPath = `${production ? 'public/' : '' }style.css`
  - const jsPath = `${production ? 'public/' : '' }app.js`
  if production
    link( rel="stylesheet", type="text/css", href=cssPath )

  script( src=jsPath, defer )
