html( lang="en" )
  include ./head.pug

  body.container
    div.name
      | #{data.personal.name}<br/>
      | #{data.personal.surname}

    div.meta
      p.meta__about
        | #{data.personal.position} at&#32;
        a( href=data.links.company ).meta__company.link #{data.personal.company}<br/>
        | &amp; 3d graphics enthusiast

      p.meta__email
        a(href="mailto:"+data.personal.email).link #{data.personal.email}

    div.links
      each link in data.links.accounts
        a( href = link.url, title = link.title ).links__entry.link
          div( class=`links__icon--${link.name.toLowerCase()}` ).links__icon
          span.links__desc #{link.name}
