doctype html
html( lang="en" )
  include ./head.pug

  body.container
    header.name
      span.name__first-name #{data.personal.name}
      span.name__last-name #{data.personal.surname}

    div.meta
      p.meta__about
        | #{data.personal.position} at&#32;
        a( href=data.links.company ).meta__company.link #{data.personal.company}<br/>
        | &amp; #{data.personal.hobby}

      p.meta__email
        a(href="mailto:"+data.personal.email).link #{data.personal.email}

    div.links
      each link in data.links.accounts
        a( href = link.url, title = link.title ).links__entry.link
          svg.link__icon
            use( xlink:href = `#${link.name.toLowerCase()}` )
          span.link__desc #{link.name}

    include svg
