<!DOCTYPE html>
html( lang="en" )
  //- Global parameters
  include ./shared/global.jade

  include ./shared/head.jade
    
  body
    div.meta
      h1.meta__name #{personal.name} #{personal.surname}

      p.meta__position #{personal.position} at&#32;
        a( href="#{links.company}" ).meta__company #{personal.company}

      p.meta__title 3d graphics enthusiast

      p.meta__email
        a(href="mailto:#{personal.email}") #{personal.email}

    div.links
      //- List for a links category
      mixin list( links, title )
        div.links__group
          h4.links__title #{title}
          ul.links__list
            each link in links
              li.links__entry
                a( href = link.url, title = link.title ).links__link #{link.name}

      +list( links.info, "Info" )
      +list( links.accounts, "Find Me" )
      +list( links.projects, "Projects" )
